/vendor
/.idea
Homestead.json
Homestead.yaml
.env.production
.phpunit.result.cache
node_modules
package.json
.eslintrc.json
.vscode
components/bi-search/views/bi-search.js.production
components/bi-search/views/bi-search.php.production
components/bi-search/views/style.css.production